<footer class="pt20">
    <div class="footer pb50">
        <div class="footer_left ml50">
            <ul>
                <li class="qq">
                    <a href="#"><img src="/static/index/img/qq.png"/></a>
                    <div class="qq_erweima"></div>
                </li>
                <li class="wb">
                    <a href="#"><img src="/static/index/img/wb.png"/></a>
                    <div class="wb_erweima"></div>
                </li>
                <li class="wx">
                    <a href="#"><img src="/static/index/img/wx.png"/></a>
                    <div class="wx_erweima"></div>
                </li>
            </ul>

        </div>
        <div class="footer_right">
            <ul>
                <li class="footer_li">
                    <div><a href="#"><img src="/static/index/img/foot_icon_one.png"/> | 关于我们</a></div>
                    <ul>
                        <li><a href="#">了解我们</a></li>
                        <li><a href="#">案例展示</a></li>
                        <li><a href="#">发展历程</a></li>
                        <li><a href="#">我们的观点</a></li>
                        <li><a href="#">联系我们</a></li>
                    </ul>
                </li>

                <li class="footer_li">
                    <div><a href="#"><img src="/static/index/img/foot_icon_two.png"/> | 产品服务</a></div>
                    <ul>
                        <li><a href="#">试验室信息管理软件</a></li>
                        <li><a href="#">工程数据监控平台</a></li>
                        <li><a href="#">拌合站数据监控</a></li>
                        <li><a href="#">桥梁定检大师</a></li>
                        <li><a href="#">云数据服务</a></li>
                    </ul>
                </li>

                <li class="footer_li">
                    <div><a href="#"><img src="/static/index/img/foot_icon_three.png"/> | 人员招聘</a></div>
                    <ul>
                        <li><a href="#">Winform高级软件工程师</a></li>
                        <li><a href="#">JAVA软件工程师</a></li>
                        <li><a href="#">C#软件工程师</a></li>
                        <li><a href="#">软件客服</a></li>
                        <li><a href="#">销售专员</a></li>
                    </ul>
                </li><div class="clear"></div>

            </ul>
        </div>
        <div class="clear"></div>
    </div>

    <div class="copyright pt20">
        <p>copyright©2004-2016 Tuodong Inc.All rights reserved. 更多模板：<a href="http://www.cssmoban.com/" target="_blank">模板之家</a></p>
    </div>
</footer>