<input type="hidden" name="keyPrefix" >
<div class="topjui-fluid">
    <div class="row" style="margin-top: 30px">
        <div class="topjui-col-sm12">
            <label class="topjui-form-label">目录名</label>
            <div class="topjui-input-block">
                <input data-toggle="topjui-textbox"  data-options="required:true" id="catalog" name="dir_name">
            </div>
        </div>
        <div class="topjui-col-sm12">
            <label class="topjui-form-label"></label>
            <div class="topjui-input-block">
                <p>1. 不允许使用表情符，请使用符合要求的 UTF-8 字符</p>
            </div>
            <div class="topjui-input-block">
                <p>2. / 用于分割路径，可快速创建子目录，但，不要以 / 打头，不要出现连续的 /</p>
            </div>
            <div class="topjui-input-block">
                <p>3. 不允许出现名为 .. 的子目录</p>
            </div>
            <div class="topjui-input-block">
                <p>4. 总长度控制在 1-254 个字符</p>
            </div>
        </div>

    </div>
</div>