<div class="topjui-fluid">
    <br>
    <div class="topjui-row" >
        <div class="topjui-col-sm12">
            <label class="topjui-form-label">模型名</label>
            <div class="topjui-input-block">
                <input type="text" name="ename" data-toggle="topjui-textbox" value="" data-options="required:true">
            </div>
        </div>
    </div>
    <div class="topjui-row" >
        <div class="topjui-col-sm12">
            <label class="topjui-form-label">显示名</label>
            <div class="topjui-input-block">
                <input type="text" name="cname" data-toggle="topjui-textbox" value="" data-options="required:true">
            </div>
        </div>
    </div>
    <div class="topjui-row" >
        <div class="topjui-col-sm12">
            <label class="topjui-form-label">排序</label>
            <div class="topjui-input-block">
                <input type="text" name="sort" data-toggle="topjui-textbox" value="999">
            </div>
        </div>
    </div>
    <div class="topjui-row">
        <div class="topjui-col-sm6">
            <label class="topjui-form-label">状态</label>
            <div class="topjui-input-block">
                <input type="text" name="status" data-toggle="topjui-combobox" data-options="required:true,valueField:'value',panelHeight:'auto',data: [{'text':'启用','value':1,'selected':true},{'text':'禁用','value':0}]">
            </div>
        </div>
    </div>
</div>